---
layout: default
title: Redbeacon Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="excerpt-container">
    <a href="{{ post.url }}">
      <h1 class="post-title">{{ post.title }}</h1>

      <div class="post-info">
        <div class="author-avatar">
          <img class="img-circle" title="{{ post.author }}" src="{{ post.author_avatar }}">
        </div>
        <div class="extra">
          <div class="word-count">{{ post.content | number_of_words }} words written</div>
          <div class="author">by {{ post.author }}</div>
          <div class="date">on {{ post.date | date_to_string}}</div>
          <!--span class="tags">{{ tags | join: ', ' }}</span> | -->
        </div>
      </div>

      <div>{{ post.excerpt }}</div>
    </a>
  </div>
  <hr class="post-separator">
{% endfor %}

<!-- Pagination links -->
<!--div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div-->
