<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: [
            'Avenir Book',
            'Avenir Heavy'
          ],
          urls: [ '//redbeacon.com/media/light/fonts.css' ]
        }
      });
    </script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="stylesheet" href="/assets/style/pygments_default.css">
  </head>
  <body>
    <div class="container">
      <h1 class="blog-title"><a href="/" class="">{{ site.title }}</a></h1>
    </div>
    <hr>