body
  min-width: 380px
  max-width: 100%

html, body
  *
    font-family: "Avenir", Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased


h1, h2, h3, h4, h5, h6
  font-family: "Avenir-heavy", Helvetica, Arial, sans-serif !important
  font-weight: normal

h2
  margin: 40px 0px 20px 0px
  font-size: 26px !important

h3
  margin: 30px 0px 20px 0px

a
  text-decoration: none !important
  outline: 0 !important

p
  margin-bottom: 25px

.table-container
  *
    font-size: 14px !important
  max-width: 700px !important
  overflow-y: scroll

.container
  font-size: 17px
  line-height: 28px
  position: relative

  @media (min-width: 700px)
    max-width: 700px

#banner
  position: relative
  background: url(../images/bg.jpg) no-repeat
  background-size: cover
  margin-bottom: 50px
  background-position: bottom
  height: 300px
  color: white

#banner-minimal
  text-align: center
  color: white
  height: 15px
  background-color: #f96302
  margin-bottom: 40px
  cursor: pointer
  -webkit-transition: height 0.3s ease-out  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: height 0.3s ease-out  /* Firefox 4-15 */
  -o-transition: height 0.3s ease-out  /* Opera 10.50–12.00 */
  transition: height 0.3s ease-out  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

#banner-minimal:hover
  height: 30px

#title-container
  position: absolute
  height: 50px
  right: 50px
  bottom: 50px
  background-color: rgba(0,0,0,0.6)

  h4
    margin: 0px !important
    padding: 0px !important
    color: white !important

  a
    color: white !important


  #rb-icon
    width: 50px
    height: 50px
    background-color: #E7222F
    text-align: center
    display: inline-block

    img
      height: 40px
      margin-left: -5px
      margin-top: 4px

#blog-title
  margin: 15px 10px 0px 14px
  display: inline-block
  vertical-align: top

.comments-title
  text-decoration: none !important
  color: #222 !important
  font-size: 28px
  margin: 0px
  margin-bottom: 30px !important

.excerpt-container
  position: relative !important
  *
    color: #222 !important

.post-title
  text-decoration: none !important
  font-size: 28px
  margin: 0px
  margin-bottom: 30px !important

.post-info
  text-align: left
  position: relative
  line-height: 20px
  margin: 0px !important
  margin-bottom: 30px !important

  .extra
    margin-top: -5px
    margin-left: 10px
    vertical-align: middle

  .word-count
    margin-top: 10px

  *
    font-size: 15px
    color: #777 !important
    display: inline-block

  .date
    display: block

  @media (min-width: 1040px)
    text-align: center
    position: absolute
    top: 0px
    left: -200px
    width: 180px

  @media (max-width: 480px)
    .author
      display: block

  .author-avatar
    img
      max-width: 80px !important

.post-content
  img
    margin: 20px 0px
    width: 100% !important

  iframe
    width: 100% !important

    @media (min-width: 700px)
      height: 420px !important

    @media (max-width: 700px)
      height: 380px !important

    @media (max-width: 550px)
      height: 340px !important

    @media (max-width: 400px)
      height: 240px !important

  .img-info
    text-align: center
    margin-bottom: 30px
    font-size: 14px

.post-separator
  margin: 50px 0px

.fact
  font-size: 28px
  line-height: 45px

b, strong, .semi-bold
  font-family: "Avenir-heavy", Helvetica, Arial, sans-serif !important
  font-weight: normal !important

.giant-labels
  label
    font-size: 20px
    line-height: 45px

#footer
  margin-bottom: 30px

.lead
  font-size: 20px !important

.lineno
  color: #c0c0c0
  font-size: 12px !important
  margin-right: 15px

pre
  margin: 30px 0px

code, pre
  border-radius: 3px !important
  border: none !important
  word-break: break-word !important

  *
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important
    font-size: 13px !important
    line-height: 25px !important

#social-share
  margin-top: 20px
  display: block

  img
    width: 20px !important
    height: 20px !important

  .hn-share-iframe
    vertical-align: middle !important
    margin-top: 2px

  #___plus_0
    vertical-align: middle !important

  .twitter-share-button
    vertical-align: middle !important

  .IN-widget
    *
      vertical-align: middle !important

    line-height: 0px !important
    vertical-align: middle !important
    margin-top: 3px !important