<!doctype html>
<html lang="en">
  {% include header.html %}
  <body>
    <div id="banner" style="height: 152px; cursor: pointer" onclick="window.location = '/'">
      <a href="{{ site.baseurl }}">
      <div id="title-container">
        <div id="blog-title"><h4>{{ site.title }}</h4></div>
        <div id="rb-icon"><img src="{{ site.baseurl }}assets/images/rb-logo.png"></div>
      </div>
      </a>
    </div>
    <div class="container">
        {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>